body{	
	font:15px/1.5 Arial, Helvetic,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container{
	width:80%;
	margin: auto;
	overflow:hidden;

}

ul{
	margin: 0;
	padding: 0;	
}

.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Header */
header{
	background: #35424a;
	color:#ffffff;
	padding-top: 10px;
	min-height: 10px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	margin-top: 10px;
	float: right;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}


/* Style the list  Breadcurm Navigation*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #cccccc;
    
}


/* showcase */
#showcase{
	min-height: 400px;
	background:url('../img/showcase.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
}


#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
 
#showcase p{
	font-size: 20px;
}

#charminar{
	min-height: 400px;
	background:url('../img/charminar.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
}


#charminar h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
 
#charminar p{
	font-size: 20px;
}

/* Newsletter */
#newsletter{
	padding: 10px;
	color: #ffffff;
	background: #35424a;
	align:center;
	font-size: 26px
}

#newsletter h1{
	float: left;
}


#newsletter a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


#newsletter li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

#newsletter #branding{
	float: left;
}

#newsletter #branding h1{
	margin: 0;
}

#newsletter nav{
	margin-top: 10px;
	float: right;
}

#newsletter .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

#newsletter a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* boxes */
#boxes{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;

}

#boxes .box{
	float: left;
	text-align: center;
	width: 40%
	padding: 10px;
	
}

#boxes .box img{
	width: 100px;
    margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#boxes .box h1{
	
	font-family: fantasy;
	font-weight: bold;
}

/* sidebar */
aside#sidebar{
	float:right;
	width:30%;	
}

aside a{
	color: red;
}

/* Main col */
article#main-col{
	float:left;
	width:60%;
}


/* Services */
ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #e8491d;
	text-align: center;
}


/* Media Queries */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,	
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	
	#boxes .box{
		align:center;
		text-align:center;
		width: 50%
	}

	header{
		padding-bottom: 20px;
	}

	#showcase{
	min-height: 300px;
	background:url('../img/showcase.jpg') no-repeat 0 -300px;
	text-align: center;
	color: #ffffff;
}

	#showcase h1{
		margin-top: 15px;
		font-size: 35px;
	}
	
	#showcase p{
	font-size: 15px;
	}

	#charminar{
	min-height: 300px;
	background:url('../img/charminar.jpg') no-repeat 0 -300px;
	text-align: center;
	color: #ffffff;
}

	#charminar h1{
		margin-top: 15px;
		font-size: 35px;
	}
	
	#charminar p{
	font-size: 15px;
	}

	#imgloc {
		 height: auto;
  min-width: 100%;
	}



	#newsletter button{
		display:block;
		width: 100%;
	}

	#newsletter form input{
		width: 100%;
		margin-bottom: 5px;
	}



}

